* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #a600ff, #a70bfc, #9c07ec);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.logo {
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

.logo img {
    transition: 0.25s;
}

.logo img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}

.buttons {
    margin-top: 25px;
}

.buttons a {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.buttons p {
    font-size: 21px;
    color: #fff;
    text-align: center;
}

.social-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 57.5px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    margin: 10px;
    font-size: 20px;
    font-weight: 545;
    color: #ffffff;
    margin-top: 16.5px;
    text-decoration: none;
    transition: all 0.3s ease;
}
  
.social-btn:hover {
    color: #a600ff;
    background: #fff;
    transform: scale(1.035);
}
  
.social-btn .icon {
    margin-right: 10px;
}
  
.social-btn .name {
    white-space: nowrap;
}

.fab {
    font-size: 25px;
}

@media (max-width: 1200px) {
    .logo {
        margin-top: 90px;
    }
        .logo img {
            width: 155px;
        }
        .social-btn {
            margin-top: 15px;
        }
        .block h1 {
            font-size: 24.5px;
        }
        .social-btn {
            width: 480px;
            height: 55.5px;
        }
        .buttons p {
            font-size: 20px;
        }
}

@media (max-width: 1000px) {
    .logo {
        margin-top: 70px;
    }
    .logo img {
        width: 145px;
    }
    .social-btn {
        margin-top: 12.5px;
    }
    .block h1 {
        font-size: 24px;
    }
    .social-btn {
        width: 460px;
        height: 55px;
    }
    .buttons p {
        font-size: 19.5px;
    }
}

@media (max-width: 768px) {
    .logo {
        margin-top: 55px;
    }
    .logo img {
        width: 135px;
    }
    .social-btn {
        margin-top: 12px;
    }
    .block h1 {
        font-size: 23.5px;
    }
    .social-btn {
        width: 415px;
        height: 53px;
    }
    .buttons p {
        font-size: 18.5px;
    }
}

@media (max-width: 530px) {
    .logo {
        margin-top: 70px;
    }
    .logo img {
        width: 125px;
    }
    .social-btn {
        margin-top: 12px;
    }
    .block h1 {
        font-size: 23.5px;
    }
    .social-btn {
        width: 405px;
        height: 52px;
    }
    .buttons p {
        font-size: 17.5px;
    }
}
